@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    padding-top: 20px;
    background-position: center;
    background-color: rgb(25, 24, 24);
}

#logo-name {
    color: pink;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    background-color: rgb(26, 25, 25);


}

#scoops {
    height: 70px;
}

/* Style the nav bar and it's content*/

#home,
#menu,
#event,
#login,
#contact {
    color: pink;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    border: solid 2px grey;
    border-radius: 10px;
}

.navbar-text,
.nav-link {
    font-family: 'lato', sans-serif;
    font-size: 20px;

    font-size: 25px;
    color: pink
}

.nav-link:hover {
    color: pink;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#home:hover,
#menu:hover,
#event:hover,
#login:hover,
#contact:hover {
    color: pink;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(170, 170, 170);
    margin: 0 15px;
}

#footer-text {
    color: pink;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    margin-bottom: -250px;
    opacity: 0.9;
}


/* Create style the background image effect*/
#main-img {
    width: 1500px;
    height: 850px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 20px;
    align-items: center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    border-radius: 30px;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Create the welcome message */

.welcome-message {
    background-color: pink;
    margin-top: -800px;
    width: 400px;
    height: 450px;
    margin-left: 200px;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    opacity: 0.8;

}

#img-container {
    width: 580px;
    height: 400px;
    margin-left: -180px;
}

.container {
    width: 800px;
}

.image-container {
    width: 800px;
}

.post-title,
.post-subtitle {
    color: pink;

}