{% load static %}
<!DOCTYPE html>
<html lang="en">

<head class="h-100">
    <!-- Title -->
    <title>Second Scoop</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100">
    <!-- Navigation -->
    <nav class=" navbar navbar-expand-lg navbar-dark dark-bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage' %}"><span id="logo-name">Second Sc<img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1666384069/second-scoop/scoop_r2sfli.png" alt="two-scoops" id="scoops">p</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" id="home" href="{% url 'homepage' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="menu" href="{% url 'menu' %}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="event" href="{% url 'reservations' %}">Event Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="contact" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>

                <!-- Personalised dropdown button for logged in user/admin -->
                {% if user.is_authenticated %}
                <div class="dropdown nav-link">
                    <a class="btn btn-secondary dropdown-toggle text-capitalize" role="button" data-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}'s Account
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'reservations_view' %}">Check Your Reservations</a>
                        <a class="dropdown-item" href="{% url 'message_list' %}">Check Your Messages</a>
                        <a class="dropdown-item" id="logout-dropdown" href="{% url 'account_logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <div id="btn-d" class="nav-link text-center">
                    <a class="text-center" data-toggle="modal" data-target="#myModal" href=" {% url 'homepage' %}">

                        LogIn or Register

                    </a>
                </div>
                {% endif %}
                <span class="navbar-text text-muted">
                    Ready for next scoop?
                </span>
            </div>

            <!-- Blog Button -->
            <span><a class="nav-link" href="{% url 'post_view' %} " id='blog'>Blog</a></span>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main class=" flex-shrink-0 main-bg">
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg" id="footer-text">
        <p class="m-0 text-center">Second Scoop 2022</p>
        <p class="m-0 text-center ">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i></p>
    </footer>

    <!-- Alert function to display flash messages to user -->
    <script>
        setTimeout(function() {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3500);
    </script>

    <!--Font Awesome script below-->
    <script src="https://kit.fontawesome.com/e8e79d1989.js" crossorigin="anonymous"></script>

    <!-- Swiper slider function -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            loop: true,
            effect: "cube",
            grabCursor: true,
            cubeEffect: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        });
    </script>
    <!-- Modal pop up on landing page -->
    <script>
        $(window).on('load', function() {
            $('#myModal').modal('show');
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>