{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<!-- Messages form -->
<div><a class="nav-link" href="{% url 'message_list' %}">Check your messages here</a></div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <!-- If user presses delete will be given an option if he wants to cancel -->
                <h3>Delete Message</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form class="login" method="POST">
                    {% csrf_token %}
                    <strong>Are you sure you want to delete your message?</strong>
                    <div class="text-center">
                        <button class="btn btn-signup right">Delete</button>
                        <a class="btn btn-signup right" href="{% url 'message_list' %}">Cancel</a></div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {%endblock%}