{% extends "base.html" %}

{% block content %}

<div><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662374379/second-scoop/icecreamy_woaomc.webp" alt="'ice-cream" id="main-img"></div>

<!-- USED SWIPER to create slideshow -->
<div class="container-slide">
    <h2><span style="font-family: 'Dancing Script', cursive;font-size:50px;">W</span>elcome <span style="font-family: 'Dancing Script', cursive;font-size:50px;">t</span>o <span style="font-family: 'Dancing Script', cursive;font-size:50px;">S</span>econd<span style="font-family: 'Dancing Script', cursive;font-size:50px;">S</span>coop!</h2>
    <button type="button" class="btn btn-primary" id="button1"><a href="{% url 'post_view' %}" id="btn-a"><span style="font-family: 'Dancing Script', cursive;font-size:20px;">R</span>ead our <span style="font-family: 'Dancing Script', cursive;font-size:20px;">B</span>log</a></button>
    <button type=" button" class="btn btn-primary" id="button2"><a href="{% url 'account_signup' %}" id="btn2-a"><span style="font-family: 'Dancing Script', cursive;font-size:20px;">R</span>egister with <span style="font-family: 'Dancing Script', cursive;font-size:20px;">U</span>s</a>
    </button>
    <!-- Slider main container -->
    <div class="frame">
        <div class=" swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class=" swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1661808661/second-scoop/sccopi2_fai9nn.jpg"></div>
                <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1661808648/second-scoop/scoop7_wquhph.jpg"></div>
                <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1661808642/second-scoop/scoop5_kd8fkd.jpg"></div>
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>




    {%endblock%}