{% extends "base.html" %}
{% load static %}
{% block content %}

<div><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662374379/second-scoop/icecreamy_woaomc.webp" alt="'ice-cream" id="main-img"></div>

<!-- USED SWIPER to create slideshow -->
<div class="container-slide">
    <h2><span style="font-family: 'Dancing Script', cursive;font-size:50px;">W</span>elcome <span style="font-family: 'Dancing Script', cursive;font-size:50px;">t</span>o <span style="font-family: 'Dancing Script', cursive;font-size:50px;">S</span>econd<span style="font-family: 'Dancing Script', cursive;font-size:50px;">S</span>coop!</h2>
    <button type="button" class="btn btn-primary" id="button1"><a href="{% url 'post_view' %}" id="btn-a"><span style="font-family: 'Dancing Script', cursive;font-size:20px;">R</span>ead our <span style="font-family: 'Dancing Script', cursive;font-size:20px;">B</span>log</a></button>

    </button>
    <!-- Slider main container -->
    <div class="frame">
        <div class=" swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->

                <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662410403/second-scoop/pexels-photo-6025811_qxlgsa.webp"></div>
                <div class=" swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1661808661/second-scoop/sccopi2_fai9nn.jpg"></div>
                <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662410693/second-scoop/pexels-photo-2677814_c9rai6.jpg"></div>
                <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662410515/second-scoop/pexels-photo-1362534_blbict.webp"></div>
                <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662411211/second-scoop/pexels-photo-1857157_mghkz1.webp"></div>
                <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662411397/second-scoop/pexels-photo-108370_pdhyqt.webp"></div>
                <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662411483/second-scoop/pexels-photo-4875225_srt0bl.jpg"></div>

            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>




    {%endblock%}