{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- USED SWIPER to create slideshow -->
<div class="container-slide">
    <div class="container-fluid signup-container">
        {% if user.is_authenticated %}
        <div class="row signup-row">
            <div class="col-md-12 signup-col">
                <div class="signup-section-text">
                    {% else %}
                    <!--Modal pop up-->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1>Welcome</h1>
                                    <p>Please log in here or register</p>
                                </div>
                                <div class="modal-body">
                                    <strong> <a class="nav-link" href="{% url 'account_signup' %}">Register</a></strong>
                                    <strong> <a class="nav-link" href="{% url 'account_login' %}">Login</a></strong>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-signup" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}



                <!-- Slider main container -->
                <div id="welcome">
                    <h2>Welcome to SecondScoop</h2>
                    <a href="{% url 'post_view'%}" id="btn-a">Read Our Blog</a>
                </div>
                <hr>
                <div class="frame">
                    <div class=" swiper">

                        <div class="swiper-wrapper">
                            <!-- Slides -->

                            <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1664055216/second-scoop/reservations_ptk0c9.webp" alt="bday"></div>
                            <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1666697337/second-scoop/icecreamy_zjf95z.webp" alt="ice"></div>
                            <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1666697360/second-scoop/pexels-jeswin-thomas-5570880_1_v7dlal.jpg" alt="ice-cream"></div>
                            <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1664058515/second-scoop/backyicy_irssbh.jpg" alt="ice-c"></div>
                            <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662469125/second-scoop/bubble_jfj7lj.jpg" alt="ice-flavour"></div>
                            <div class="swiper-slide"><img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1666697404/second-scoop/pexels-photo-4875225_vfrzwh.jpg" alt="ice-creamy"></div>

                        </div>
                    </div>
                </div>

                {%endblock%}