{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Main Post view page to display posts and read the blog -->
<div class='headline'>
    <h1 style="font-size: 40px;color:black">Welcome to our Blog!</h1>

    <div class="row">
        <!-- Create new post option -->
        <a href="{% url 'add_new_post' %}" class="creating-post">CREATE NEW POST</a>
    </div>
</div>


<div class="container-fluid">

    <!-- Blog Entries Column -->
    <div class="posts-container">
        {% for post in post_list %}
        <div class="col-md-4 post-container">
            <div class="image-container">
                {% if "placeholder" in post.featured_image.url %}
                <img class="post-image" src="https://res.cloudinary.com/df4j1glpo/image/upload/v1665263427/media/second-scoop/bubble_sukbmc.jpg">
                {% else %}
                <img class="post-image" src=" {{ post.featured_image.url }}">
                {% endif %}
                <div class="image-flash">
                    <p class="author">Author: {{ post.author }}</p>
                </div>
            </div>
            <a href="{% url 'post_detail' post.slug %}" class="post-link" style="text-decoration:none">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.excerpt }}</p>

            </a>
            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                {{ post.number_of_likes }}</p>

            {% if user.is_superuser %}
            {% if request.user == post.author %}
            <div>
                <span><a href="{% url 'update_post' post.pk %}" class="post-link edit-delete ">Edit</a></span>
                <span><a href="{% url 'delete_post' post.pk %}" class="post-link edit-delete">Delete Post</a></span>
            </div>
            {% endif%}
            {% else %}
            {% if request.user == post.author %}
            <div><span><a href="{% url 'update_post' post.pk %}" class="post-link edit-delete">Edit</a></span>
                <span><a href="{% url 'delete_post' post.pk %}" class="post-link edit-delete">Delete Post</a></span></div>
            {% endif%}
            {% endif%}

        </div>

        {% endfor %}
    </div>

</div>
{%endblock%}