{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div>
            <div id="menu-page-title">
                <h1 style="font-size:30px;">Our delicious selection of </h1>
                <h1><span style="font-family: 'Dancing Script', cursive;font-size:50px;">Sundaes</span> <span style="font-size:30px;">and</span><span style="font-family: 'Dancing Script', cursive;font-size:50px;">Waffles </h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        Bubblelicious
                        <p>Bubblegum and strawberry gelato, soft ice cream, strawberry and bubblegum sauce, sprinkled with sugar strands. 605 kcal</p>
                    </div>
                    <div class="col-sm">
                        Chocoholic
                        <p>Chocolate and caramel gelato, soft ice cream, whipped cream, milk choc syrup, milk choc flakes and nuts. 1,247 kcal</p>
                    </div>
                    <div class="col-sm">
                        Tropical Paradise
                        <p>Banana, coconut and mango gelato with a mixture of fresh fruits, crowned with whipped cream and a blend of peach and kiwi sauce. 849 kcal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}