{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Simple menu presentation -->
<div>
    <div class="container-fluid">
        <img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662497362/second-scoop/backgr_e4cmae.jpg" id="menu-backgr-img">
        <div class="row">
            <div>
                <div id="menu-page-title">
                    <h1 style="font-size:30px;">Our delicious selection of </h1>
                    <h1><span style="font-family: 'Dancing Script', cursive;font-size:50px;">Sundaes</span> <span style="font-size:30px;">and</span><span style="font-family: 'Dancing Script', cursive;font-size:50px;">Waffles </h1>
                </div>
                <div class="container" id="container1">
                    <div class="row">
                        <div class="col-sm">
                            <h4>Bubblelicious</h4>
                            <img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662469125/second-scoop/bubble_jfj7lj.jpg" alt="menu-img">
                            <p>Bubblegum and strawberry gelato, soft ice cream, strawberry and bubblegum sauce, sprinkled with sugar strands. 605 kcal</p>
                        </div>
                        <div class="col-sm pink-bg">
                            <h4>Chocoholic</h4>
                            <img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662469204/second-scoop/choco_uv5cif.jpg" alt="menu-img">
                            <p>Chocolate and caramel gelato, soft ice cream, whipped cream, milk choc syrup, milk choc flakes and nuts. 1,247 kcal</p>
                        </div>
                        <div class="col-sm">
                            <h4>Choc a lot Waffle</h4>
                            <img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662469448/second-scoop/chowaffle_g5aijg.jpg" alt="menu-img">
                            <p>Milk and white choc flakes and melted milk choc sauce. 644kcal</p>
                        </div>


                    </div>
                </div>
                <div class=" container" id="container2">
                    <div class="row">
                        <div class="col-sm pink-bg">
                            <h4>Strawberry Cheesecake</h4>
                            <img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1661808657/second-scoop/scoopi_wdrpla.jpg" alt="menu-pic">
                            <p>White chocolate and strawberry cheesecake gelato, whipped cream, crushed digestives, with strawberry and white chocolate syrup. 664 kcal</p>
                        </div>

                        <div class="col-sm">
                            <h4>Berrylicious Sundae</h4>
                            <img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1661808634/second-scoop/scoooop_wi2k01.jpg" alt="menu-img">
                            <p>Raspberry ripple & bubblegum gelato, soft ice cream, sugar strands, cherry and bubblegum sauce. 602kcal.</p>
                        </div>
                        <div class="col-sm pink-bg">
                            <h4> Birthday Extravaganza</h4>
                            <img src="https://res.cloudinary.com/df4j1glpo/image/upload/v1662469632/second-scoop/birth_paoaen.jpg" alt="menu-img">
                            <p>GIANT PLATTER: 12 scoops of delicious gelato on a bed of waffles, whipped cream, topped with a variety of syrups, wafers and sprinkles. Perfect for sharing! 3077kcal*</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endblock%}