{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Every message can be seen by clicking on it and will display more information -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">

            <!-- Message Content-->
            <div>
                <h2 class="post-title">{{ message.name }} says: {{ message.message }} </h2>
                <a class="edit-post" href="{% url 'delete_messages' message.pk %}">Delete</a>
            </div>
            <hr>
            <!-- If Message has reply -->
            <h3>Replyed :
                {% if message.checked == True  %}
                {{ message.reply }}
                {% else %}
                <p>No reply from Admin yet...</p>
                {% endif%}
            </h3>
            <div class="d-none d-md-block col-md-6 masthead-image">
            </div>
        </div>
        {% endblock  %}