{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- If user is logged in then the add new post form will load -->
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3> Add a new post here</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 d-flex justify-content-center">
            <form class="login" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.as_p }}
                <div class=" text-center">
                    <button class=" btn btn-signup right">Create Post</button>
                    <a class="btn btn-signup right" href="{% url 'post_view' %}">Cancel</a>
                </div>
        </div>
        </form>
    </div>
</div>
</div>
{% else %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2" style="text-align: center">
                <h2>You need to be logged in to create a post.</h2>
                <a class="nav-link" href="{% url 'account_signup' %}">Register?</a>
                <a class="nav-link" href="{% url 'account_login' %}">Login?</a>
            </div>
        </div>
    </div>

    {% endif %}
    {%endblock%}