{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div>

    <div id="form-position">
        <form method="post">
            <div class="form-group">
                {{ new_form | crispy }}

                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>

    {% else %}
    <div>
        <h2>You need to be logged in to book a reservation.</h2>
        <a class="nav-link" href="{% url 'account_signup' %}">Register?</a>
        <a class="nav-link" href="{% url 'account_login' %}">Login?</a>

    </div>

    {% endif %}
</div>
{%endblock%}