{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Every post can be seen by clicking on it and will didplay more information -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Reservation Content-->
                <h1 class="post-title">{{ reservation.name }} | {{ reservation.date }} </h1>
                <h2> {{ reservation.event }} </h2>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
            </div>

            <div><a href="" class="edit-delete">Delete Reservation</a>
            </div>
            <div class=" container">
                <div class="">
                    <div class="col card mb-4  mt-3 left  top">
                        <div class="card-body">
                            <!-- The reservation content goes inside the card-text. -->
                            <!-- Use the | safe filter inside the template tags -->
                            <p class="card-text ">
                                {{ reservation.message }} </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>

            </div>

            {% endblock  %}