{% extends 'base.html' %}
{% load static %}
{% block content %}
<div><a class="nav-link" id="add_reservations" href=" {% url 'reservations_view' %}">Add New Reservation Request</a></div>

<div class="reservation-wraper">
    <div class='reservation-container'>
        {% if user.is_authenticated %}
        {% for reservation in object_list %}
        <a href=" {% url 'reservation_view_details' %}">
            <ul class="list-group">
                <li class="list-group-item">{{ reservation.name }} | <span> Requested date:{{ reservation.date }}</span> | <span> Event :{{ reservation.event }}</span><span>
                        {% if reservation.approved == True %}
                        <i class=" fa-sharp fa-solid fa-check" style="color:green"></i>
                        {%else%}
                        <span style="color:red">Waiting approval...</span>
                        {%endif%}
                        <a href="{% url 'update_reservations' reservation.pk %}">Edit</a>
                        <a href="{% url 'delete_reservations' reservation.pk %}">Delete</a>
                </li>

            </ul>
        </a>
        {%endfor%}
        {%endif%}
    </div>
</div>
{%endblock%}